{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        {% for message in app.session.flashBag.get('error') %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    <ul>
    {% for task in remaining_tasks %}
        <li>
            {{ task.name }} ({{ task.status }})
            <a href="{{ path('task.update', { taskId: task.id }) }}">[Edit]</a>
            |
            <a href="{{ path('task.updateStatus', { taskId: task.id, taskStatus: constant('Todo\\Domain\\Task::STATUS_COMPLETED') }) }}">[Done]</a>
            |
            <a href="{{ path('task.delete', { taskId: task.id }) }}">[X]</a>
        </li>
    {% endfor %}

    {% for task in completed_tasks %}
        <li>
            {{ task.name }} ({{ task.status }})
            <a href="{{ path('task.update', { taskId: task.id }) }}">[Edit]</a>
            |
            <a href="{{ path('task.updateStatus', { taskId: task.id, taskStatus: constant('Todo\\Domain\\Task::STATUS_REMAINING') }) }}">[Redo]</a>
            |
            <a href="{{ path('task.delete', { taskId: task.id }) }}">[X]</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{{ path('task.create') }}">Create new</a>
{% endblock %}
